<a href="https://colab.research.google.com/github/SNabii/Data-Cleaning/blob/master/Volume_with_prize.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [115]:
# import libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import re
import os
from time import sleep
# FUnctions  -----------------------------------------------------------------------------------------------------
def trim_all_columns(df):
    """
    Trim whitespace from ends of each value across all series in dataframe
    """
    trim_strings = lambda x: x.strip() if isinstance(x, str) else x
    return df.applymap(trim_strings)
def data_basic_clean(fsh):
    fsh.columns = [c.strip() for c in fsh.columns]
    fsh.columns = [c.replace(' ', '_') for c in fsh.columns]
    fsh.columns = [c.replace('?', '') for c in fsh.columns]
    fsh.columns = map(str.lower, fsh.columns)
    fsh.replace(['None','nan','Nan',' ','NaT','#REF!'],np.nan,inplace=True)
    
    fsh = trim_all_columns(fsh)
    fsh=fsh.drop_duplicates(keep='last')
    df = pd.DataFrame(fsh)
    return(df)
# ----------------------------------------------------------------------------------------------------------------

os.getcwd()

'/content'

In [0]:
day_para = 2

In [109]:
# specify url
if day_para ==1:
  url  = f'https://www.moneycontrol.com/india/stockmarket/price-increase-volume-increase/marketstatistics/nse/{day_para}day.html'
if day_para >1:
  url  = f'https://www.moneycontrol.com/india/stockmarket/price-increase-volume-increase/marketstatistics/nse/{day_para}days.html'
tab_id = 'cnstv-gainer-up'


page = requests.get(url)
# Parse html using BeautifulSoup, you can use a different parser like lxml if present
soup = BeautifulSoup(page.content, 'html.parser')
tbl = soup.find("table",{"id":f"{tab_id}"})

t1 = pd.read_html(str(tbl))[0]
t1 = data_basic_clean(t1)
t1['company'] =  t1['company'].str.replace('Add to Watchlist Add to Portfolio','')


day1 =  pd.DataFrame(t1)
day1.head()

            company   price  change  %change
0    Andhra Cement     2.60     0.4    18.18
1       Adlabs Ent     3.40     0.3     9.68
2  Metalyst Forgin     4.65     0.2     4.49
3          Archies     9.50     0.2     2.15
4       AksharChem   201.45    20.6    11.39

Day 1 : Stock Prizing

In [110]:
# specify url
if day_para ==1:
  url  = f'https://www.moneycontrol.com/india/stockmarket/price-increase-volume-increase/marketstatistics/nse/{day_para}day.html'
if day_para >1:
  url  = f'https://www.moneycontrol.com/india/stockmarket/price-increase-volume-increase/marketstatistics/nse/{day_para}days.html'

tab_id = 'cnstv-gainer-up0'


page = requests.get(url)
# Parse html using BeautifulSoup, you can use a different parser like lxml if present
soup = BeautifulSoup(page.content, 'html.parser')
tbl = soup.find("table",{"id":"cnstv-gainer-up0"})

t1 = pd.read_html(str(tbl))[0]
t1 = data_basic_clean(t1)
#t1['company'] =  t1['company'].str.replace('Add to Watchlist Add to Portfolio','')


day1_stock =  pd.DataFrame(t1)
day1_stock.head()

    price  change  %change  volumes  deliv_vol
0    2.20     0.4    18.18   181913     160822
1    3.10     0.3     9.68    39703      37800
2    4.45     0.2     4.49     3910       3895
3    9.30     0.2     2.15    34027      22798
4  180.85    20.6    11.39     6629       3396

In [111]:
d1_performance = pd.concat([day1,day1_stock],axis=1)
d1_performance.head(10)

            company    price  change  ...  %change  volumes  deliv_vol
0    Andhra Cement      2.60    0.40  ...    18.18   181913     160822
1       Adlabs Ent      3.40    0.30  ...     9.68    39703      37800
2  Metalyst Forgin      4.65    0.20  ...     4.49     3910       3895
3          Archies      9.50    0.20  ...     2.15    34027      22798
4       AksharChem    201.45   20.60  ...    11.39     6629       3396
5     Shirpur Gold      7.35    0.15  ...     2.08    28407      19399
6         Apar Ind    301.40    2.25  ...     0.75     7448       4337
7      Adhunik Ind     14.20    0.25  ...     1.79     9733       8733
8    Axis Gold ETF   4277.25  228.25  ...     5.64      807        549
9     Ador Welding    213.25    5.80  ...     2.80     3585       1844

[10 rows x 9 columns]

In [0]:
d1_performance.to_excel(f'd{day_para}.xlsx',index=False)

In [118]:
i = 1
for i in range(1,6):
  print('Day:',i)
  day_para = i

  # Company index extraction --------------------------------------------------
  # specify url
  if day_para ==1:
    url  = f'https://www.moneycontrol.com/india/stockmarket/price-increase-volume-increase/marketstatistics/nse/{day_para}day.html'
  if day_para >1:
    url  = f'https://www.moneycontrol.com/india/stockmarket/price-increase-volume-increase/marketstatistics/nse/{day_para}days.html'
  tab_id = 'cnstv-gainer-up'


  page = requests.get(url)
  # Parse html using BeautifulSoup, you can use a different parser like lxml if present
  soup = BeautifulSoup(page.content, 'html.parser')
  tbl = soup.find("table",{"id":f"{tab_id}"})

  t1 = pd.read_html(str(tbl))[0]
  t1 = data_basic_clean(t1)
  t1['company'] =  t1['company'].str.replace('Add to Watchlist Add to Portfolio','')


  day1 =  pd.DataFrame(t1)
  day1.head()
  # Company prize extraction --------------------------------------------------

  if day_para ==1:
    url  = f'https://www.moneycontrol.com/india/stockmarket/price-increase-volume-increase/marketstatistics/nse/{day_para}day.html'
  if day_para >1:
    url  = f'https://www.moneycontrol.com/india/stockmarket/price-increase-volume-increase/marketstatistics/nse/{day_para}days.html'

  tab_id = 'cnstv-gainer-up0'


  page = requests.get(url)
  # Parse html using BeautifulSoup, you can use a different parser like lxml if present
  soup = BeautifulSoup(page.content, 'html.parser')
  tbl = soup.find("table",{"id":"cnstv-gainer-up0"})

  t1 = pd.read_html(str(tbl))[0]
  t1 = data_basic_clean(t1)
  #t1['company'] =  t1['company'].str.replace('Add to Watchlist Add to Portfolio','')


  day1_stock =  pd.DataFrame(t1)
  day1_stock.head()



  # Concatenating index + preize data frame -----------------------------------
  d1_performance = pd.concat([day1,day1_stock],axis=1)
  print(d1_performance.head(10))
  # writing to drive ----------------------------------------------------------

  d1_performance.to_excel(f'd{day_para}.xlsx',index=False)

  from google.colab import files
  files.download(f'd{day_para}.xlsx')





  sleep(3)
  print('-'*100)

Day: 1
            company    price  change  ...  %change    volumes  deliv_vol
0    Hexaware Tech    277.75   12.70  ...     4.79   497451.0   132664.0
1             Atul   4202.25  156.25  ...     3.86    50961.0    38961.0
2  Amrutanjan Heal    403.50   28.50  ...     7.60   158234.0    52310.0
3     S P Apparels     78.30    3.70  ...     4.96     5159.0     4089.0
4         Arcotech      1.00    0.05  ...     5.26    48449.0    33909.0
5          Atlanta      3.45    0.15  ...     4.55     2625.0     2624.0
6  Automotive Axle    463.55    7.15  ...     1.57    15269.0     9589.0
7    Andhra Cement      2.60    0.40  ...    18.18   181913.0   160822.0
8              ACC   1067.25   67.75  ...     6.78  2658885.0  1128891.0
9          ATN Int      0.20    0.05  ...      NaN        NaN        NaN

[10 rows x 9 columns]
----------------------------------------------------------------------------------------------------
Day: 2
            company    price  change  ...  %change  volumes  deliv_vol
0    Andhra Cement      2.60    0.40  ...    18.18   181913     160822
1       Adlabs Ent      3.40    0.30  ...     9.68    39703      37800
2  Metalyst Forgin      4.65    0.20  ...     4.49     3910       3895
3          Archies      9.50    0.20  ...     2.15    34027      22798
4       AksharChem    201.45   20.60  ...    11.39     6629       3396
5     Shirpur Gold      7.35    0.15  ...     2.08    28407      19399
6         Apar Ind    301.40    2.25  ...     0.75     7448       4337
7      Adhunik Ind     14.20    0.25  ...     1.79     9733       8733
8    Axis Gold ETF   4277.25  228.25  ...     5.64      807        549
9     Ador Welding    213.25    5.80  ...     2.80     3585       1844

[10 rows x 9 columns]
----------------------------------------------------------------------------------------------------
Day: 3
            company   price  change  ...  %change  volumes  deliv_vol
0    5paisa Capita   162.05   22.00  ...    15.71    22161      17404
1             DPSC     9.75    1.05  ...    12.07    64766      42061
2  Elgi Equipments   124.75    8.10  ...     6.94   125835     103766
3   The Investment    91.80    4.35  ...     4.97     4669       4114
4   Guj Sidhee Cem    18.60    2.15  ...    13.07    46910      26222
5    Hi-Tech Pipes    95.10    2.25  ...     2.42     2694       2684
6  The Hi-Tech Gea    94.10    6.25  ...     7.11     2849       2617
7     Jindal Photo    13.75    1.25  ...    10.00    26729      12615
8  Kakatiya Cement   134.80    5.80  ...     4.50    15213       7711
9     Kamat Hotels    24.65    1.95  ...     8.59    59337      36050

[10 rows x 9 columns]
----------------------------------------------------------------------------------------------------
Day: 4
           company   price  change  ...  %change  volumes  deliv_vol
0   5paisa Capita   162.05   22.00  ...    15.71    22161      17404
1  The Investment    91.80    4.35  ...     4.97     4669       4114
2    Jindal Photo    13.75    1.25  ...    10.00    26729      12615
3    Kamat Hotels    24.65    1.95  ...     8.59    59337      36050
4  Lincoln Pharma   142.90    6.80  ...     5.00    50258      39703
5      Omax Autos    25.10    1.75  ...     7.49    11414       8666
6      Oricon Ent    13.20    1.30  ...    10.92    65667      47145
7       Patel Eng    14.05    0.75  ...     5.64   281504     200898
8     Ramky Infra    26.10    3.10  ...    13.48    57425      39287
9             TRF    72.65    9.80  ...    15.59    59661      24256

[10 rows x 9 columns]
----------------------------------------------------------------------------------------------------
Day: 5
      company  price  change  %change  ...  change  %change  volumes  deliv_vol
0  Patel Eng   14.05    0.75     5.64  ...    0.75     5.64   281504     200898

[1 rows x 9 columns]
----------------------------------------------------------------------------------------------------

In [0]:
def call_me(day_para):
  # specify url
  url  = f'https://www.moneycontrol.com/india/stockmarket/price-increase-volume-increase/marketstatistics/nse/{day_para}day.html'
  tab_id = 'cnstv-gainer-up'


  page = requests.get(url)
  # Parse html using BeautifulSoup, you can use a different parser like lxml if present
  soup = BeautifulSoup(page.content, 'html.parser')
  tbl = soup.find("table",{"id":f"{tab_id}"})

  t1 = pd.read_html(str(tbl))[0]
  t1 = data_basic_clean(t1)
  t1['company'] =  t1['company'].str.replace('Add to Watchlist Add to Portfolio','')
  t1.head()

  day1_comp =  pd.DataFrame(t1)

  # -----------------------------------------------------------------------
  # specify url
  url  = f'https://www.moneycontrol.com/india/stockmarket/price-increase-volume-increase/marketstatistics/nse/{day_para}day.html'
  tab_id = 'cnstv-gainer-up0'


  page = requests.get(url)
  # Parse html using BeautifulSoup, you can use a different parser like lxml if present
  soup = BeautifulSoup(page.content, 'html.parser')
  tbl = soup.find("table",{"id":f"{tab_id}"})

  t1 = pd.read_html(str(tbl))[0]
  t1 = data_basic_clean(t1)
  #t1['company'] =  t1['company'].str.replace('Add to Watchlist Add to Portfolio','')


  day1_stock =  pd.DataFrame(t1)
  day1_stock.head()
  #------------------------------------------------------------------------

  d1_performance = pd.concat([day1_comp,day1_stock],axis=1)
  d1_performance.to_excel(f'd{day_para}.xlsx',index=False)
  return()

In [21]:
call_me(2)

ValueError: ignored

In [0]:
def get_volumne_table(urli,tab_id,compani):
  # specify url
  url #= uri #'https://www.moneycontrol.com/india/stockmarket/price-increase-volume-increase/marketstatistics/nse/1day.html'
  #tab_id = 'cnstv-gainer-up'
  # request html
  page = requests.get(url)

  # Parse html using BeautifulSoup, you can use a different parser like lxml if present
  soup = BeautifulSoup(page.content, 'html.parser')
  tbl = soup.find("table",{"id":f"{tab_id}"})
  def trim_all_columns(df):
    """
    Trim whitespace from ends of each value across all series in dataframe
    """
    trim_strings = lambda x: x.strip() if isinstance(x, str) else x
    return df.applymap(trim_strings)
  def data_basic_clean(fsh):
      fsh.columns = [c.strip() for c in fsh.columns]
      fsh.columns = [c.replace(' ', '_') for c in fsh.columns]
      fsh.columns = [c.replace('?', '') for c in fsh.columns]
      fsh.columns = map(str.lower, fsh.columns)
      fsh.replace(['None','nan','Nan',' ','NaT','#REF!'],np.nan,inplace=True)
      
      fsh = trim_all_columns(fsh)
      fsh=fsh.drop_duplicates(keep='last')
      df = pd.DataFrame(fsh)
      return(df)
  t1 = pd.read_html(str(tbl))[0]
  t1 = data_basic_clean(t1)
  if compani == True:
    t1['company'] =  t1['company'].str.replace('Add to Watchlist Add to Portfolio','')
  print(t1.shape)
  return(t1)

In [0]:
urli = 'https://www.moneycontrol.com/india/stockmarket/price-increase-volume-increase/marketstatistics/nse/1day.html'
#tab_id = 'cnstv-gainer-up'
tab_id = 'cnstv-gainer-up0'
df = get_volumne_table(urli,tab_id,compani=False)

In [0]:
day_index = 1
#for day_index in range(1,(5+1)):
print(day_index)
#print("'https://www.moneycontrol.com/india/stockmarket/price-increase-volume-increase/marketstatistics/nse/{}day.html'".format(day_index))
urli = f"'https://www.moneycontrol.com/india/stockmarket/price-increase-volume-increase/marketstatistics/nse/{day_index}day.html'"
print(urli)
company_index = 'cnstv-gainer-up'
df1 = get_volumne_table(urli,tab_id = company_index,compani=True)
#sleep(3)

In [0]:
urli= 'https://www.moneycontrol.com/india/stockmarket/price-increase-volume-increase/marketstatistics/nse/1day.html'
company_index = 'cnstv-gainer-up'
get_volumne_table(urli,tab_id = company_index,compani=True)

In [38]:


for i in range(10):
    print(i)
    sleep(3)

0
1
2
3
4
5
6
7
8
9

In [0]:
import pandas as pd
import numpy as np

In [62]:

t1 = pd.read_html(str(tbl))[0]
t1 = data_basic_clean(t1)
t1.head()

                                             company    price  change  %change
0    Hexaware Tech Add to Watchlist Add to Portfolio   277.75   12.70     4.79
1             Atul Add to Watchlist Add to Portfolio  4202.25  156.25     3.86
2  Amrutanjan Heal Add to Watchlist Add to Portfolio   403.50   28.50     7.60
3     S P Apparels Add to Watchlist Add to Portfolio    78.30    3.70     4.96
4         Arcotech Add to Watchlist Add to Portfolio     1.00    0.05     5.26

In [57]:
t1.columns

Index(['company', 'price', 'change', '%change'], dtype='object')

In [0]:
t1['company'] =  t1['company'].str.replace('Add to Watchlist Add to Portfolio','')

In [59]:
t1.shape

(783, 4)